html {
    height: 100%;
}

body {
    background-image: linear-gradient(to top right, #0b0c10,  #195297);

    /* gradient fix */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    color: #66FCF1;

    height: 100%;
}

/*
.hidden {
    visibility: hidden;
}
*/

.appDiv {
    width: 60%;
    height: 70%;
    margin: 0 auto;
    border: 5px solid #66FCF1;
    text-align: center;
}

.input {
    display: inline-block;
    height: 100%;
}

.inputDiv {
    font-size: 70px;
    height: 40%;
}

.inputField {
    width: 35%;
    height: 30%;
}

/* disable these annoying arrows in the fields */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}