html {
    height: 100%;
    font-size: 3vw;
}

body {
    background-image: linear-gradient(to top right, #0b0c10,  #195297);

    /* gradient fix */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    color: #66FCF1;

    height: 100%;
}

/*
.hidden {
    visibility: hidden;
}
*/

header {
    font-size: 1.3rem;
    font-style: normal;
}

.primaryTitle {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

.Qe {
    font-weight: 850;
    font-size: 150%;
}

.secondaryTitle {
    font-size: 35%;
    margin: 0;
}

.appDiv {
    width: 60%;
    height: 70%;
    margin: 0 auto;
    border: 5px solid #66FCF1;
    text-align: center;
}

.input {
    display: inline-block;
    height: 100%;
    width: 25%;
}

.input * {
    display: inline-block;
    vertical-align: middle;
}

.inputDiv {
    font-size: 1.5rem;
    height: 15%;
}

.inputField {
    width: 35%;
    height: 70%;
}

/* disable these annoying arrows in the fields */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}